{% extends "layout.html" %}
{% block body %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>

<h1>Lista de consultas</h1>
<table class="table display" id="tabela">
    <thead>
        <tr>
            <th>Email</th>
            <th>id_animal</th>
            <th>Data Marcação</th>
            <th>Data Consulta</th>
            <th>Hora Consulta</th>
            <th>Médico</th>
            <th>Razão</th>
            <th>Estado</th>
            <th>Resumo</th>
            {% if "perfil" in session and session["perfil"]=="admin" %}
                <th>Alterar Estado</th>
                <th>Resumo</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for registo in dados %}
        <tr>
            <td>{{ registo['email'] }}</td>
            <td>{{ registo['id'] }}</td>
            <td>{{ registo['data_marcacao'] }}</td>
            <td>{{ registo['data_consulta'] }}</td>
            <td>{{ registo['hora_consulta'] }}</td>
            <td>{{ registo['medico'] }}</td>
            <td>{{ registo['razao'] }}</td>
            <td>{{ registo['estado'] }}</td>
            <td>{{ registo['resumo'] }}</td>
            {% if "perfil" in session and session["perfil"]=="admin" %}
            <td><form method="POST" action="/consulta/estado">
                <input type="hidden" name="nr_consulta" value="{{ registo['nr_consulta'] }}"/>
                <input type="submit" value="Estado Consulta">
                </form>
            </td>
            <td><form method="POST" action="/consulta/resumo">
                <input type="hidden" name="nr_consulta" value="{{ registo['nr_consulta'] }}"/>
                <input type="submit" value="Resumo">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    window.onload=function(){
        
        new DataTable("#tabela",{
            searching: true,
            paging: true,
            pageLength:10,
            // language:{
            //     url:"//cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese.json"
            // }
        });
    }
</script>
{% endblock %}