{% extends "layout.html" %}
{% block body %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>

<h1>Lista de animais</h1>
<table class="table display" id="tabela_animais">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Espécie</th>
            <th>Raça</th>
            <th>Dono</th>
            <th>Fotografia</th>
            <th>Detalhes</th>
            <th>Editar</th>
            <th>Apagar</th>
        </tr>
    </thead>
    <tbody>
        {% for registo in dados %}
        <tr>
            <td>{{ registo['nome'] }}</td>
            <td>{{ registo['especie'] }}</td>
            <td>{{ registo['raca'] }}</td>
            <td>{{ registo['email'] }}</td>
            <td><img width="200" src="/static/imagens/{{ registo['id'] }}.jpg" ></td>
            <td><a href="/animal/detalhes?id={{ registo['id'] }}">Detalhes...</a></td>
            <td> Editar</td>
            <td> Apagar</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    window.onload=function(){
        
        new DataTable("#tabela_animais",{
            searching: true,
            paging: true,
            pageLength:10,
            // language:{
            //     url:"//cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese.json"
            // }
        });
    }
</script>
{% endblock %}